/*Footer*/

.grid-footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;   
}

footer {
    font-family: $fuentes-grandes;    
    color: white;
    background: $degrade-footer;
    gap: 1rem;
    padding: 2rem;
    height: 100%;
}

.logo-footer {
    align-items: center;
    width: 6%;
}

.grid-lista {
    padding-top: 1rem;
    gap: 5rem;
}

.grid-redes {
    padding-top: 1rem;
    display: grid;
    gap: 2rem;
}

.redes {
    padding-top: 8rem;
}

/*Fin footer*/ 