/*Formulario*/

.formulario-contacto {
    padding: 3rem;
    color: white;
}

.nombre-formulario {
    padding: 1rem;
}

.email-formulario {
    @extend .nombre-formulario;
}

.comentario-formulario {
    @extend .nombre-formulario;
}

.pregunta-formulario {
    @extend .nombre-formulario;
}

.botones-formulario {
    padding: 0.3rem;
}

.input1-formulario {
    width: 80rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
}

.input2-formulario {
    @extend .input1-formulario;
}

#textarea-formulario {
    width: 80rem;
    height: 10rem;
    resize: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.boton-formulario {
    justify-content: center;
    align-items: center;
    display: flex;
}


/*Fin formulario*/ 