/*MAP-GET*/

$fondo-pagina: (
    fondo-gris: $color-fondo,
);

.color-fondo {
    background-color: map-get($fondo-pagina, fondo-gris);
}

$titulares: (
    color-titulares: white,
    alineado-titulares: center,
    padding-titulares: 5rem,
);

h1 {
    color: map-get($titulares, color-titulares);
    text-align: map-get($titulares, alineado-titulares);
    padding-top: map-get($titulares, padding-titulares);
}

h2 {
    color: map-get($titulares, color-titulares);
    text-align: map-get($titulares, alineado-titulares);
    padding-top: 10rem;
}

/*EXTEND*/

.texto1-index {
    font: {
        family: $fuentes-texto;
        size: 18px;
    }
    padding: 2rem;
    color: white;
    line-height: 30px;
}

.texto2-index {
    @extend .texto1-index;
    font: {
        size: 16px;
    }
}

.texto1-nosotros {
    @extend .texto1-index;
    padding-top: 10rem;
}

.card-teclado {
    color: white;
    background: rgba(1,51,100,1);
    border-radius: 15px;
    margin: 2rem;
}

.card-ukelele {
    @extend .card-teclado;
}

.card-trompeta {
    @extend .card-teclado;
}

/*MIXIN*/

@mixin parrafos {
    text-align: center;
}

.texto2-index {
    @include parrafos;
}

