/*MAP-GET*/

$fondo-pagina: (
    fondo-gris: $color-fondo,
);

.color-fondo {
    background-color: map-get($fondo-pagina, fondo-gris);
}

$titulares: (
    color-titulares: white,
    alineado-titulares: center,
    padding-titulares: 12rem,
);

h1 {
    color: map-get($titulares, color-titulares);
    text-align: map-get($titulares, alineado-titulares);
    padding-top: map-get($titulares, padding-titulares);
}

h2 {
    color: map-get($titulares, color-titulares);
    text-align: map-get($titulares, alineado-titulares);
    padding-bottom: 3rem;
}

h3 {
    color: map-get($titulares, color-titulares);
    text-align: map-get($titulares, alineado-titulares);
    padding-top: 10rem;
}

h4 {
    color: map-get($titulares, color-titulares);
    text-align: map-get($titulares, alineado-titulares);
    padding-top: 5rem;
}

.h3-perfil {
    padding-top: 5rem;
}

.h3-productos {
    padding-top: 5rem;
}

/*EXTEND*/

.texto1-index {
    font: {
        family: $fuentes-texto;
        size: 18px;
    }
    padding: 2rem;
    color: white;
    line-height: 30px;
}

.texto2-index {
    @extend .texto1-index;
    font: {
        size: 16px;
    }
}

.texto1-nosotros {
    @extend .texto1-index;
    padding-top: 2rem;
}

.texto1-perfil {
    @extend .texto1-index;
    padding-top: 10rem;
}

/*MIXIN*/

@mixin parrafos {
    text-align: center;
}

.texto2-index {
    @include parrafos;
}


