$color-fondo:rgb(36,36,36);
$color-pagina: rgba(1,51,100,1);
$color-degrade: linear-gradient(90deg, rgba(36,36,36,1) 5%, rgba(1,51,100,1) 50%);
$color-degrade-footer: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(1,51,100,1) 15%, rgba(1,51,100,1) 85%, rgba(36,36,36,1) 100%);
$fuentes-grandes: 'Josefin Sans', sans-serif;
$fuentes-texto: 'PT Sans', sans-serif;
