@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import "variables";
@import "maps";
@import "footer";
@import "navbar";
@import "formulario";

/*Contenidos*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;
    text: {
        decoration: none;
    }
    list-style-type:none;
}

.grid-contenedor {
    display: grid;
    grid-template-rows: 4rem;
    grid-template-columns: auto;
}

h3 {
    color: white;
}

.grid-productos {
    padding-top: 10rem;
}

.banner-slides {
    gap: 1rem;
    padding: 2rem;
    border-radius: 45px;
    margin-top: 13rem; 
    width: 100%;
    z-index: 1;
}

.boton-direccion {
    padding-top: 12rem;
}

/*Fin contenidos*/ 
