.header {
    ul  {
        align-items: center;
    }
    nav {
        background: rgb(36,36,36);
        background: linear-gradient(90deg, rgba(36,36,36,1) 5%, rgba(1,51,100,1) 50%);
        display: inline-block;
        gap: 1rem;
        padding: 1rem;
    }
    li {
        &:hover {
            background: rgb(36, 36, 36);
            border-radius: 10px;
            }
    }
    
}