* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box 0;
          box-sizing: border-box 0;
  text-decoration: none;
  list-style-type: none;
}

.grid-contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4rem;
      grid-template-rows: 4rem;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.grid-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}

header {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #242424), color-stop(50%, #013364));
  background: linear-gradient(90deg, #242424 5%, #013364 50%);
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  gap: 1rem;
  padding: 1rem;
}

header nav {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #242424), color-stop(50%, #013364));
  background: linear-gradient(90deg, #242424 5%, #013364 50%);
  display: inline-block;
  gap: 1rem;
  padding: 1rem;
}

header li:hover {
  background: #242424;
  border-radius: 10px;
}

header a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: white;
}

header logo-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #242424), color-stop(50%, #013364));
  background: linear-gradient(90deg, #242424 5%, #013364 50%);
  display: inline-block;
  gap: 1rem;
  padding: 1rem;
}

.navbar-home {
  display: inline-block;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.navbar-productos {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
}

.navbar-nosotros {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
}

.navbar-contacto {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
}

.navbar-perfil-dropdown {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
}

.form-navbar {
  width: 15rem;
  border-radius: 8px;
  padding: 0.5rem;
}

.boton-busqueda {
  color: white;
  background: #242424;
  border-radius: 5px;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.color-fondo {
  background: #242424;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 1rem;
  color: white;
  line-height: 25px;
}

img {
  gap: 1rem;
  padding: 1rem;
  border-radius: 35px;
  margin-top: 2rem;
}

.grid-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#242424), color-stop(15%, #013364), color-stop(85%, #013364), to(#242424));
  background: linear-gradient(90deg, #242424 0%, #013364 15%, #013364 85%, #242424 100%);
  gap: 1rem;
  padding: 5rem;
  height: 100%;
}
/*# sourceMappingURL=estilos.css.map */